.cart.offset-1.col-6
  .user-entry
    .login.offset-1.col-3 LOG IN
    .wish-list.offset-3.col-4 WISH LIST
  .cart-content.d-flex
    .cart-icon.offset-1.col-2
      svg.bi.bi-cart3(xmlns='http://www.w3.org/2000/svg' width='44' height='44' fill='currentColor' viewbox='0 0 16 16')
        path(d='M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z')
    .cart-product.col-4
      .cost $1,459.50
      .items 2 items
    .cart-control.offset-3.col-2.d-flex.justify-content-center.flex-column
      .reset
        svg.bi.bi-x(xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='currentColor' viewbox='0 0 16 16')
          path(d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z')
      p.edit EDIT
  .cart-btn
    button.cart-btn__view.col-6 VIEW CART
    button.cart-btn__checkout.col-6 CHECKOUT
  .cart-search.row
    .search-input.col-8.d-flex.align-items-center(type='text' contenteditable='')
      | Search...
    .reset-input.col-2.d-flex.justify-content-center.align-items-center
      svg.bi.bi-x(xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='currentColor' viewbox='0 0 16 16')
        path(d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z')
    button.search-btn.btn.btn-secondary.col-2(type='button')
      svg.bi.bi-search(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
        path(d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z')
      span.visually-hidden Button

